<div class="pierakstisanas">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag do %>
	<fieldset>
		<legend>Lūdzu ierakstieties</legend>

		<div>
			<%= label_tag :username, 'Username:' %>
			<%= text_field_tag :username, params[:username] %>
		</div>
		<div>
			<%= label_tag :password_digest, 'Parole:' %>
			<%= password_field_tag :password_digest, params[:password_digest] %>
		</div>

		<div>
			<%= submit_tag "Login" %>
		</div>

	</fieldset>
	<% end %>
</div>