<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.url_field :url, size: 65 %><br>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.select :sport_id, Feed::SPORTS,
                  prompt: '' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
