

<h1>Listing Feeds</h1>
<table>
  <% @feeds.each do |feed| %>
    <% @sportss.where(id: feed.sport_id).find_each do |sport| %>
    <tr>
    <td><%= sport.sports %></td>
        <td><%= feed.url %></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    <% end %>
  </table>

<br>

<%= link_to 'New Feed', new_feed_path %>
