<% @izv_sport.each do |sport1| %>
<tr>
       <td> <%= sport1.sports -%></td>
       <td><%= button_to 'Noņemt', {:controller => "user_sports", :action => 'destroy', :id => sport1.id}, method: :delete %>
   </tr>
   <% end %>