<h1>Listing Sports</h1>
<table>
  <thead>
    <tr>
      <th>Sports</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= image_tag(sport.image, class: 'list_image') %></td>
        <td><%= sport.sports %></td>
        <td><%= sport.id %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Sport', new_sport_path %>
