<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "Lietotāja vārds" %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, "Parole" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Atkārtot paroli" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
  <%= f.label :news_amount, "Vēlos aplūkot pēdējās: " %>
  <%= f.number_field :news_amount, max: 80, min: 5 %>
  <%= f.label :news_amount, "ziņas" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
