

<p>
  <strong>Username:</strong>
  <%= @user.username %><br>
  <strong>Ziņu skaits: </strong>
  <%= @user.news_amount %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
