
<div id="news_page">  
  <% @feed_entries.each do |fe| %>
   <% @sportss.where(id: fe.sport_id).find_each do |sport| %>
  <div id="news_each">  
    <li class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <%= image_tag(sport.image, class: 'list_image') %>
      <%= link_to h(fe.name), fe.url %></li> </br>
      <li><%= fe.summary%></li>
  </div>
  <% end %>
  <% end %> 
</div> 