
<div id="news">  
  <%if session[:user_id] %>
  <%= render "news/news_user" %>
	<div id="infinite-scrolling">
    <%= will_paginate @feed_entries, :page_links => false   %>
</div> 
</div> 
  <%end%>
  <%if session[:user_id]==nil %>
  <%= render partial: "news/news" %>
  <div id="infinite-scrolling">
    <%= will_paginate @feed_entries1 , :page_links => false %>
</div> 
<%end%>

</div> 

