<%if session[:user_id] == nil %>
	$('#news_page').append('<%= j render 'news/news' %>');
	<% if @feed_entries1.next_page %>
	  $('.pagination').replaceWith('<%= j will_paginate @feed_entries1, :page_links => false  %>');
	<% else %>
	  $('#news_page').off('scroll');
	  $('.pagination').remove();
	<% end %>
<%else%>
	$('#news_page').append('<%= j render 'news/news_user' %>');
	<% if @feed_entries.next_page %>
	  $('.pagination').replaceWith('<%= j will_paginate @feed_entries, :page_links => false  %>');
	<% else %>
	  $('#news_page').off('scroll');
	  $('.pagination').remove();
	<% end %>
<% end %>