<%= form_for @user_sport do  |f| %>
  <% if @user_sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_sport.errors.count, "error") %> prohibited this user_sport from being saved:</h2>

      <ul>
      <% @user_sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.select :sport_id, Feed::SPORTS,
                  prompt: '' %></br>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, min: 1%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
