

<h1>Listing User Sports</h1>

<table>
  <thead>
    <tr>
      <th>Sport</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sports.each do |user_sport| %>
      <tr>
        <td><%= user_sport.sport_id %></td>
        <td><%= user_sport.user_id %></td>
        <td><%= link_to 'Show', user_sport %></td>
        <td><%= link_to 'Edit', edit_user_sport_path(user_sport) %></td>
        <td><%= link_to 'Destroy', user_sport_path(UserSport.find_by_sport_id_and_user_id(user_sport.sport_id, user_sport.user_id)), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User sport', new_user_sport_path %>
