

<p>
  <strong>Sport:</strong>
  <%= @user_sport.sport_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_sport.user_id %>
</p>

<%= link_to 'Edit', edit_user_sport_path(@user_sport) %> |
<%= link_to 'Back', user_sports_path %>
