/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "feeds.scss";

body {min-width:1000px; margin: 0 auto;}

#par {background-image: url("aizmugure.jpg");

	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:6em;
	padding-top: 2em;
li {
display:inline;
color: black;
margin: 4em 4.5em 4em 4.5em;
font-color: #FFFFFF;
a {color: black;}
}}

#side {
min-width: 200px;
padding-left: 1.5em;
padding-right: 1em;
}
 
.list_line_odd {background-color: #ffeeff;}
 .list_line_even {background-color: #ffccff;}

li {list-style-type: none;
}

#main {float: left;
width: 50%;
a {text-decoration: underline;}
}

#banner {height: 10em;}

#banner1 img {width: 15%;
height: 100%;
float: left;
}

#banner2 img {width: 15%;
height: 100%;
float: right;
}


#side {float: left;
width: 20%;}

div#news_each  {border-bottom: 1px solid black;
margin-bottom: 1.5em;
padding: 0.3em;
li#summary{margin-top: -13px;}}

img.list_image{width: 23px; 
height: 23px;}

div#news_page {
height: 38em;
overflow: auto;
position:relative;
}

div#sporta_veidi {
height: 20em;
overflow: auto;
}

.pagination img  {width: 100px;
height: 100px;}

.button_to:hover {color: red;}










 

