// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#news{float: left; width: 40em;}
li{list-style: none;}
#news .list_line_odd{background: #ffffdd;}
#news .list_line_even{background: #ffddff;}
